.footer_container {
  width: 100%;
  padding: 2rem;
  color: white;
  background-color: black;
  p {
    text-align: center;
  }
}

.footer_logo {
  text-align: center;
}

.footer_links {
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.footer_apps {
  display: flex;
  justify-content: center;
  gap: 10px;
}
