.footer_container {
  width: 100%;
  padding: 2rem;
  color: white;
  background-color: black;
  p {
    text-align: center;
  }
}

.footer_logo {
  text-align: center;
  width: 500px;
  margin: auto;
}

.footer_links {
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.footer_apps {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
  width: 400px;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .footer_container {
    padding: 1rem 0;
  }

  .footer_logo {
    width: 400px;
  }

  .footer_links {
    width: max-content;
    gap: 20px;
    margin: auto;
  }

  .footer_apps {
    gap: 50px;
    width: 150px;
  }
}

@media only screen and (max-width: 576px) {
  .footer_container {
    padding: 1rem 0;
  }

  .footer_logo {
    width: 200px;
    margin: auto;
  }

  .footer_links {
    width: max-content;
    font-size: 0.5rem;
    gap: 20px;
    margin: auto;
  }

  .footer_apps {
    gap: 10px;
    width: 100px;
  }
  p {
    font-size: 0.5rem;
  }
}
