.services_container {
  text-align: center;
  background-color: var(--tertiary_color);

  h1 {
    padding: 4rem 4rem 2rem;
    font-size: 3rem;
  }

  .services_content {
    width: 60%;
    margin: auto;
    display: grid;
    column-gap: 0;
    row-gap: 20px;
    padding: 2rem;
    grid-template-columns: auto auto auto auto;
    .service_link {
      width: 15vw;
      display: flex;
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 768px) {
  .topbar_container {
    padding: 1rem 2rem; /* Adjust padding for smaller screens */
  }
}
@media only screen and (max-width: 576px) {
  .services_container {
    text-align: center;

    h1 {
      padding: 2rem 4rem 0.5rem;
      font-size: 1.5rem;
    }
    .services_content {
      width: max-content;
      display: grid;
      column-gap: 15px;
      row-gap: 5px;
      padding: 0;
      grid-template-columns: repeat(4, 1fr);
      .service_link {
        width: 20vw;
        height: fit-content;
        display: flex;
        justify-content: center;
      }
    }
  }
}
