.home_container {
    color: white;
    display: flex;
    background-color: black;
    padding: 2rem;
    height: 100%;

    .car_image {
        width: 40%;
        margin: 0 auto;
        text-align: center;
    }

    .home_slogan {
        width: 60%;

        h1 {
            font-size: 5.5rem;
            line-height: 1;
        }

        p {
            line-height: 2rem;
        }

        button {
            margin-top: 0.5rem;
        }

        span {
            color: var(--primary_color);
        }
    }
}