.about_container {
    margin: 2rem 0;
    color: white;
    background-color: black;
    text-align: center;

    h1 {
        padding: 2rem;
    }

    .about_content {
        width: 80%;
        margin: auto;
        display: grid;
        padding: 2rem;
        column-gap: 40px;
        row-gap: 40px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}